* { margin:  0; padding: 0; font-family: Georgia,Garamond,"Times New Roman",serif;}
#content {width: 900px; margin-left: auto ; margin-right: auto ;}
.timecloud, .timegraph { width: 800px; margin-left: auto; margin-right: auto; }
.timegraph { font-size: 12px; margin: 0px 0px 10px;}
.ui-slider { width: 800px; font-size: 12px; height:23px; position:relative; top: -24px;}
.ui-slider-range { background:#50A029 ; height:27px; opacity:0.3; position:absolute; top:-2px; width:100%; border-left: 1px solid #444; border-right: 1px solid #444; border-bottom: 8px solid #555}
.ui-slider-handle { height:27px; background-color: #444; opacity:0.3; position:absolute; top:-2px; width:0px; z-index:1;}
.left { margin-left: -1px; border-left: 4px solid Navy; }
.right { margin-left: 3px; border-right: 4px solid Navy; }
.sparkline-container { height:27px; width: 840px; position: relative; left: -40px;}
.sparkline { width: 800px; position: relative; left: 40px; }
.sparkline-label { position: relative; font-size: 9px; text-align: right; width: 40px;}
.min { position: absolute; bottom: -27px; right:0px; }
.max { position: absolute; top: 0px; right:0px; }
.startdate {float: left; margin-top: 4px;}
.enddate {float: right; margin-top: 4px;}
ul.tagcloud-list { font-size: 100%; font-weight: bold; padding: 2px; }
li.tagcloud-base { font-size: 24px; display: inline; white-space: nowrap; }
a.tagcloud-anchor { text-decoration: none; color: #00f;}
a.tagcloud-anchor:hover { background-color: #ddd; }
a.tagcloud-earliest { color: #ccc; }
a.tagcloud-earlier { color: #99c; }
a.tagcloud-later { color: #99f; }
a.tagcloud-latest { color: #00f; }
.text-control { margin-right: 4px; margin-top: 5px; color: blue; cursor:pointer; text-decoration: underline; background: #eee;}
.tagcloud { margin-top: 5px; border-top: 1px solid black; }

